*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #E8ECEA;
    font-family: 'Noto Sans', sans-serif;

}
a{
    text-decoration: none;
}
input{
    border: none;
}
h2{
    padding: 15px 0;
}
.login{
    margin: 10% auto;
    width: 400px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}
.login h4{
    color: #c5cfca;
    padding: 20px;
}
.logo{
    padding: 20px;
}
.up{
    padding: 20px;
}
.up input{
    width: 80%;
    padding: 10px;
}
.lprf{
    padding: 10px 0;
}
.lpr{
    padding-left: 10%;
    text-align: left;
}
.lpf{
    padding-left: 10%;
    text-align: right;
}
.lpls{
    display: flex;
    gap: 20%;
    padding: 35px;
}
.ls button{
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}
.ls{
    width: 40%;
}
.lpl button{
    background-color: #60C2A2;
    color: white;
}
.lps button{
    background-color: white;
    color: #60C2A2;
}






#close{
    display: flex;
    justify-content: center;
    display: none;
}
#close i{
    font-size: 50px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.searchbar{
    width: 100%;
}
.mono{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.menu{
    background-color: white;
    grid-column: span 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.op img{
    width: 100%;
}
.op{
    width: 170px;
    padding: 20px 0;
}

.options{
    padding: 15px;
}
.options a{
    color: black;
    display: flex;
}
.options img{
    padding-right: 20px;
    height: 100%;
    padding-top: 1px;
}
.lo{
    padding-bottom: 30px;
}
.lo a{
    display: flex;
    justify-content: center;
}
.page{
    background-color: #60C2A2;
    border-radius: 10px;
}
.page a{
    color: white;
}
.db{
    grid-column: span 4;
}
.sb{
    background-color: white;
    display: flex;
    
}
.qsb{
    padding: 5px;
    padding-right: 50%;
}
.menuicon{
    padding: 15px;
    display: none;
}
.qsb input{
    width: 100%;
    padding: 10px;
    background: url(./images/Search\ Icon.png) no-repeat scroll 7px ;
    padding-left:30px;
}
.bell{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.carlos{
    display: flex;
}
.carlos input{
    width: 90px;
    padding: 10px;
    background: url(./images/Drop\ down.png) no-repeat scroll 7px ;
    padding-left:30px;
}
.one{
    padding: 50px;
}
.two{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.three{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
}
.three p{
    color: #43425D;
    padding-bottom: 15px;
}
.three h3{
    padding-bottom: 10px;
}
.four{
    display: flex;
}
.five {
    display: flex;
}
.five p{
    color: #FF4141;
    padding: 0;
}
.six img{
    width: 100%;
}
.six{
    width: 135px;
    padding-left: 20px;
}
.chart{
    margin: 30px 75px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
}
.clear{
    padding: 5px;
}





.anywhere {
    display: flex;
    background-color: white;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    gap: 10px;
    grid-column: span 1;
}
.anywhere img{
    width: 100%;
}
.anywhere input{
    width: 80px;
}
#place{
    background: url(./images/Drop\ down.png) no-repeat scroll 7px;
    padding-left: 30px;
}
#filtering{
    background: url(./images/Filter\ Icon.png)no-repeat scroll 7px;
    padding-left: 30px;
}

.keyword {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#search{
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    background: url(./images/Search\ Icon.png) no-repeat scroll 7px;
    padding-left: 30px;
    background-color: white;
    grid-column: span 2;
}
.vpa{
    display: flex;
}
.plus{
    margin: 15px ;
    background-color: #60C2A2;
    border-radius: 20px;
    padding: 7px 15px;
    width: fit-content;
}
.plus a{
    display: flex;
    color: white;
    gap: 15px;
}
.plus i{
    padding-top: 3px;
}
.ttca{
    display: flex;
    padding-top: 30px;
    gap: 20px;
}
.cross{
    display: flex;
    background-color: white;
    padding: 5px 8px;
    border-radius: 15px;
    gap: 10px;
}
.cross img{
    height: 100%;
}
.vdks a{
    background-color: white;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    color: black;
    gap: 10px;
}
.vdksone{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}
.vdkstwo img{
    width: 100%;
}
.vdkstwo{
    width: 80px;
    margin: 0 auto;
}
.vdksthree span{
    color: #999999;
}
.bubble{
    display: flex;
    gap: 5px;
}
.vdksfour{
    display: flex;
    padding: 10px 0;
    gap: 5px;
}
.vdksfive{
    background-color: #DAF1E9;
    color: #60C2A2;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: small;
    width: fit-content;
}
.days{
    padding: 30px 0;
}





.mcdonald{
    background-color: white;
    padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
}
.mcimage img{
    width: 100%;
}
.mcimage{
    width: 175px;
    margin: 0 auto;
}
.llc{
    display: flex;
    justify-content: space-between;
}
.edit{
    background-color: #60C2A2;
    width: fit-content;
    padding: 5px 15px;
    margin: 10px 0;
    height: fit-content;
    border-radius: 15px;
}
.edit a{
    color: white;
}
.adapt span{
    font-size: small;
}
.adapt{
    color: #999999;
    padding-right: 10px;
}
.campaign{
    display: flex;
    padding-top: 20px;
}
.group{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.spice{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.spice button{
    border: none;
    width: 25px;
}
.spice button img{
    width: 100%;
}
.burgurimage img{
    width: 100%;
}







.first{
    background-color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    color: #4D4F5C;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
}
.first input{
    padding: 15px;
    width: 90%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #EFEFEF;
}
.second{
    grid-column: span 2;
}

.third input{
    background: url(./images/Drop\ down.png)  no-repeat scroll 7px ;
    padding-left: 25px;
    background-color: #EFEFEF;
}
.addimage p{
    font-size: small;
    color: #808080;
    padding-bottom: 10px;
}
.adddes textarea{
    border: none;
    width: 90%;
    padding: 15px;
    line-height: 140%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #EFEFEF;
}
.addnumber{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
#photo{
    display: none;
}
.adding{
    background-color: #EFEFEF;
    height: 130px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addnumber input{
    width: 80%;
}
.dbox{
    background-color: white;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    gap: 5px;
}









@media screen and (max-width:1330px){
    .three{
        grid-column: span 2;
    }
    .burgur{
        grid-column: span 2;
    }
}
@media screen and (max-width:850px){
    .menu{
        width: 0;
        overflow-x: hidden;
        padding: 0;
        transition: 0.5s;
        z-index: 1;
        background-color:  grey;
        position: absolute;
        height: 100%;
    }
    #close{
        display: flex;
        justify-content: center;
    }
    .db{
        grid-column: span 5;
    }
    .menuicon{
        display: block;
    }
    .anywhere{
        grid-column: span 2;
    }
    .keyword input{
        grid-column: span 4;
    }
    .mcdonald{
        flex-direction: column;
    }
    #search{
        grid-column: span 4;
    }
}
@media screen and (max-width:560px){
    .three{
        grid-column: span 4;
    }
    .qsb{
        padding-right: 0;
        width: 200px;
    }
    .burgur{
        grid-column: span 4;
    }
}
@media screen and (max-width:600px){
    .vdksfour{
        flex-direction: column;
    }
}
@media screen and (max-width:640px){
    .vdks a{
        flex-direction: column;
    }
}
@media screen and (max-width:1000px){
    .second{
        grid-column: span 6;
    }
}
@media screen and (max-width:460px){
    .qsb{
        width: 100px;
    }
}